---
layout: default
---

<section class="gallery-wrp">
	<div class="container">
		<div class="titlebar">
			<h2>Image Gallery</h2>
			<p>Biogeography through images</p>
		</div>

		<div class="row">
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img1.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>1</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img1.jpg" alt="">
						</div>
						<div class="description">
							<h3>Strangler fig</h3>
							<p>A parasitic pant species found in tropical humid forest</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img2.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>2</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img2.jpg" alt="">
						</div>
						<div class="description">
							<h3>Rainforest</h3>
							<p>A parasitic pant species found in tropical humid forest</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img3.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>3</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img3.jpg" alt="">
						</div>
						<div class="description">
							<h3>Closed canopy rainforest</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img4.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>4</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img4.jpg" alt="">
						</div>
						<div class="description">
							<h3>Lizard</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img5.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>5</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img5.jpg" alt="">
						</div>
						<div class="description">
							<h3>Stalagmites, Carlsbad caves in New Mexico</h3>
							<p>Stalagmites are like fractal structures found in underground caves. These structures are
								formed by continuous dripping of saturated...</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img6.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>6</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img6.jpg" alt="">
						</div>
						<div class="description">
							<h3>Spider monkey</h3>
							<p>Cañón del Sumidero National Park, Mexico</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img7.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>7</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img7.jpg" alt="">
						</div>
						<div class="description">
							<h3>Opuntia humifusa (aka Devil's Tongue)</h3>
							<p>A cacti native to North America</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img8.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>8</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img8.jpg" alt="">
						</div>
						<div class="description">
							<h3>Beetle collection at the Peabody Museum, Yale...</h3>
							<p>Charles Darwin surmised that the Creator must be inordinately fond of beetles: the earth
								is home to some 30 million different species of them.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img9.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>9</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img9.jpg" alt="">
						</div>
						<div class="description">
							<h3>Butterflies collection at the Peabody Museum, Yale...</h3>
							<p>If the flap of a butterfly’s wings can be instrumental in generating a tornado, it can
								equally well be instrumental in preventing a tornado --- Edward Lorenz</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img10.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>10</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img10.jpg" alt="">
						</div>
						<div class="description">
							<h3>Grassland fires in Shola-grasslands in Western...</h3>
							<p>Fire plays an important role in maintaining savanna in regions where it rains enough to
								support forest.</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img11.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>11</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img11.jpg" alt="">
						</div>
						<div class="description">
							<h3>Shola-grasslands </h3>
							<p>High elevation savanna and forest mosaic in Western Ghats, India</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img12.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>12</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img12.jpg" alt="">
						</div>
						<div class="description">
							<h3>Autumn colors in New England</h3>
							<p>Phenological changes in the colour of leaves of temperate trees at the onset of winter.
							</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img13.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>13</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img13.jpg" alt="">
						</div>
						<div class="description">
							<h3>Savanna-forest boundary</h3>
							<p>Abrupt transition from savanna to forest at Hluhluwe–Imfolozi Park, South Africa</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img14.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>14</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img14.jpg" alt="">
						</div>
						<div class="description">
							<h3>Co-dominance of trees and grasses in a savanna</h3>
							<p>60 years old experimental burn plot in Kruger National Park, South Africa</p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-sm-12">
				<a href="/assets/images/gallery-img15.jpg" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>15</span>
						<div class="box-img">
							<img src="/assets/images/gallery-img15.jpg" alt="">
						</div>
						<div class="description">
							<h3>Bark beetle tracks</h3>
							<p>Bark beetle tracks on the trunk of a dead tree at IISc Bangalore.</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>