---
layout: default
---

<section class="gallery-wrp">
	<div class="container">
		<div class="titlebar">
			<h2>{{ page.title }}</h2>
			<p>{{ page.text }}</p>
		</div>

		<div class="row">
			{% for item in page.type %}
			<div class="col-md-6 col-sm-12">
				<a href="{{ item.image | relative_url }}" data-fancybox="gallery" data-caption="">
					<div class="gallery-box">
						<span>{{ item.id }}</span>
						<div class="box-img">
							<img src="{{ item.image | relative_url }}" alt="{{ item.image_alt }}">
						</div>
						<div class="description">
							<h3>{{ item.heading }}</h3>
							<p>{{ item.text }}</p>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>