
---
layout: default
---

<section class="about-wrpper">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="about-img">
					<img src="{{ page.image }}" alt="">

					<div class="about-links">
						<a href="mailto:{{ page.email }}" class="about-link" rel="" target=""><i
								class="fas fa-envelope"></i><span>{{ page.email }}</span></a>
						<a href="{{ page.google_scholar }}" class="about-link"
							rel="" target=""><i class="fab fa-google"></i><span>Google Scholar</span></a>
						<a href="{{ page.github }}" class="about-link" rel="" target=""><i
								class="fab fa-github"></i><span>GitHub</span></a>
						<a href="{{ page.orcid }}" class="about-link" rel="" target=""><i
								class="fab fa-orcid"></i><span>ORCiD</span></a>
						<a href="{{ page.twitter }}" class="about-link" rel="" target=""><i
								class="fab fa-twitter"></i><span>Twitter</span></a>
					</div>
					<a href="{{ page.CV }}" class="cv-btn" target="_blank">CV</a>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="description">
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
</section>
