---
layout: default
---

<section class="about-wrpper">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-12">
				<div class="about-img">
					<img src="/assets/images/user.jpg" alt="">

					<div class="about-links">
						<a href="mailto:nikunj410@gmail.com" class="about-link" rel="" target=""><i
								class="fas fa-envelope"></i><span>nikunj410@gmail.com</span></a>
						<a href="https://scholar.google.com/citations?user=dvGD3gIAAAAJ&hl=en;hl=en" class="about-link"
							rel="" target=""><i class="fab fa-google"></i><span>Google Scholar</span></a>
						<a href="https://github.com/nikunj410" class="about-link" rel="" target=""><i
								class="fab fa-github"></i><span>GitHub</span></a>
						<a href="https://orcid.org/0000-0002-5720-7761" class="about-link" rel="" target=""><i
								class="fab fa-orcid"></i><span>ORCiD</span></a>
						<a href="https://twitter.com/nikunj410" class="about-link" rel="" target=""><i
								class="fab fa-twitter"></i><span>Twitter</span></a>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div class="description">
					<p>I am a dispersal biogeographer. Broadly, I take a demographic perspective to study the role of
						dispersal in shaping ecological and evolutionary patterns, using mathematical and Bayesian
						models. My work explores how biodiversity is maintained at population margins using theoretical
						ideas from network science, quantitative genetics, coalescent theory, matrix population models,
						and spread phenomenon. Click on the Science tab to see what I do.</p>

					<p>I am a postdoctoral researcher in <a href="https://mhooten.github.io/"><span>Mevin Hooten's
								lab</span></a> at the <a href="https://stat.utexas.edu/"><span>Department of Statistics
								and Data Sciences</span></a>, University of Texas at Austin. Before that, I completed my
						Ph.D. with <a href="https://sites.cns.utexas.edu/keittlab/home"><span>Timothy Keitt</span></a>
						at the <a href="https://cns.utexas.edu/eeb-graduate-program"><span>Department of Integrative
								Biology</span></a>, University of Texas at Austin. I received my MSc in <a
							href="https://eeb.yale.edu/"><span>Ecology and Evolutionary Biology</span></a> from Yale
						University. I received my <a href="https://ug.iisc.ac.in/"><span>undergraduate degree</span></a>
						in Physics and Environmental Sciences from the Indian Institute of Science, where I did my
						senior thesis with <a href="https://teelabiisc.wordpress.com/"><span>Vishwesha
								Guttal</span></a>. </span></p>
				</div>
			</div>
		</div>
	</div>
</section>
