---
layout: default
---
<section class="blog-wrp">
	<div class="container">
		<div class="titlebar">
			<h2>{{ page.page_title }}</h2>
			<p>{{ page.page_description }}</p>
		</div>

		<div class="blog-img">
			<img src="{{ page.image | relative_url }}" alt="{{ page.title }}">
		</div>

		<div class="description">
			<div class="row">
				<div class="col-lg-4 col-md-12 col-sm-12">
					<h2>{{ page.title }}</h2>
					<h6>{{ page.author }} <span>{{ page.date  | date: "%-d %B %Y" }}</span></h6>
				</div>
				<div class="col-lg-8 col-md-12 col-sm-12">
					{{ page.content }}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="comments-wrp">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<div class="comment-title">
					<h2>SEE ALSO</h2>
					<a href="#">travel</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-12">
				<div class="comment-block">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h3>0 comments</h3>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="form-group">
								<label>Sort by </label>
								<select class="form-control">
									<option>Newest</option>
									<option>Oldest</option>
								</select>
							</div>
						</div>
					</div>

					<div class="comment-box">
						<span><img src="/assets/images/user-img.png" alt=""></span>
						<input type="text" class="form-control" placeholder="Add a comment...">
					</div>
					<a href="#" class="facebook-icon"><i class="fab fa-facebook-square"></i> Facebook Comments
						plugin</a>
				</div>
			</div>
		</div>
	</div>
</section>