---
layout: default
---

<section class="science-wrpper">
	<div class="container">
		<div class="science-details">
			{{ content }}
		</div>

		<div class="science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="science-img">
						<img src="/assets/images/science-img1.png" alt="">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="science-description">
						<h3>Biological invasions</h3>
						<p>We face an invasion crisis. Rapid globalization of trade and commerce has displaced many
							species beyond their native realm, resulting in massive monetary and biodiversity losses.
							Therefore, understanding why drivers of the establishment and spread of invasive species is
							critical to maintaining ecosystem health.</p>
						<p>To this end, I am exploring the interplay between population demography and human
							transportation networks to study two broad questions: how do species spread via human
							dispersal pathways, and why do some species become more invasive than others? Understanding
							these questions will advance ecology theory and yield insights to control invader
							populations and mitigate their adverse effects.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="science-block even-science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="science-description">
						<h3>Spatial sorting</h3>
						<p>Heritable variation in traits that confer differential lifetime reproductive success can fuel
							evolutionary change by natural selection. However, at margins, populations may be subjected
							to another kind of selection pressure—traits that confer dispersal advantage may be
							overrepresented in newly occupied patches even if those traits do not confer a fitness
							advantage. This mechanism of directional evolutionary change is referred to as spatial
							sorting. As natural habitats become fragmented and new invaders are introduced, spatial
							sorting may be a norm than an exception.</p>
						<p>Starting from the first principles, I am developing the theory of spatial sorting to answer:
							How do traits change at the margins? How can we design experiments to measure and interpret
							trait changes at margins in the broader context of evolutionary theory?</p>
						<p>For more, see:</p>
						<p><strong>Goel, Nikunj</strong> <a href="#">"Algebraic theorem of evolution by spatial
								sorting."</a> bioRxiv (2020).
						</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="science-img">
						<img src="/assets/images/science-img2.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div class="science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="science-img">
						<img src="/assets/images/science-img3.png" alt="">
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="science-description">
						<h3>Determinants of range limits</h3>
						<p>Understanding the mechanisms that limit species' geographical ranges is one of the central
							challenges in biogeography theory. Historically, biogeographers have claimed that, at large
							spatial scales, climate exerts a dominant control over the distribution of biota, such that
							the broad outlines of the population are constrained by niche requirements. And as such,
							source-sink dynamics can be ignored as it typically operates at the species movement's
							length scales.</p>
						<p>Using a reaction-diffusion model that combines local growth and dispersal, we show that
							species may use sink patches near the bioclimatic limit as stepping stones to occupy faraway
							sink patches, thereby extending species distribution far beyond the climatic envelope. These
							stepping-stone dynamics may be substantial for species with high dispersal and low growth
							sensitivity—possibly even at large spatial scales.</p>
						<p>For more, see my <a href="https://www.youtube.com/watch?v=X3hcRjE2lRM&feature=emb_title">ESA (2020) talk</a> and</p>
						<p>Goel, Nikunj, and Timothy H. Keitt. <a href="#">"The mismatch between range and niche limits
								due to source-sink dynamics can be greater than species mean dispersal distance."</a>
							The American Naturalist 200:3, 448-455 (2022).</p>
					</div>
				</div>
			</div>
		</div>

		<div class="science-block even-science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="science-description">
						<h3>Distribution and resilience of savanna and forest</h3>
						<p>Climate change is expected to result in large-scale biome shifts. However, we lack a
							predictive understanding of which ecological processes govern biome distributions and
							whether biomes are resilient to global change.</p>
						<p>Using reaction-diffusion models, paleoecological data, and remote sensing products, we
							explore the interplay between fire-vegetation feedback and dispersal at the savanna-forest
							boundary. We find biome limits are not only determined by climate but also by
							continental-scale source-sink dynamics and dispersal barriers. Moreover, dispersal can, in
							general, allow biomes to recover after perturbations. </p>
						<p>For more, see:</p>
						<p><strong>Goel, Nikunj,</strong> Vishwesha Guttal, Simon A. Levin, and A. Carla Staver. <a
								href="#">"Dispersal increases the resilience of tropical savanna and forest
								distributions."</a> The American Naturalist 195, no. 5 (2020): 833-850.</p>
						<p><strong>Goel, Nikunj,</strong> Erik Scott Van Vleck, Julie C. Aleman, and A. Carla Staver. <a
								href="#">"Dispersal limitation and fire feedbacks maintain mesic savannas in
								Madagascar."</a> Ecology, 101(12):e03177 (2020).</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="science-img">
						<img src="/assets/images/science-img4.gif" alt="">
					</div>
				</div>
			</div>
		</div>


	</div>
</section>