---
layout: default
---

<section class="science-wrpper">
	<div class="container">
		<div class="science-details">
			{{ content }}
		</div>

		{% for item in page.type %}
		{% assign mod = forloop.index | modulo: 2 %}
		{% if mod == 0 %}
		<div class="science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<img src="{{ item.image }}" alt="{{ item.heading }}">
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="science-description">
						<h3>{{ item.heading }}</h3>
						{{ item.content | markdownify }}
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="science-block">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<h3>{{ item.heading }}</h3>
					{{ item.content | markdownify }}
				</div>
				<div class="col-md-6 col-sm-12">
					<img src="{{ item.image }}" alt="{{ item.heading }}">
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}

	</div>
</section>
