---
layout: default
---
<section class="science-wrpper sec-science-wrpper">
                <div class="container">
                	<div class="titlebar">
                        <h2>{{ page.page_title }}</h2>
                        <p>{{ page.page_description }}</p>
                    </div>


                    <div class="science-block">
                    	<div class="row">
                    		<div class="col-md-5 col-sm-12">
                    			<div class="science-img">
                    				<img src="{{ page.page_image }}" alt="image alt">
                    			</div>
                    		</div>
                    		<div class="col-md-7 col-sm-12">
                    			<div class="science-description">
									{{ page.content }}
                    			</div>
                    		</div>
                    	</div>
                    </div>
                </div>
            </section>